#navbar{
    border:1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    
}
a{
    margin-top: 20px;
}
#form{
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}
#form > div{
    margin: 10px 0px;
}